[Unit]
Description=Start the Aquarium monitoring server
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/AquariumMonitor/AquariumMonitor.py

[Install]
WantedBy=multi-user.target