[Unit]
Description=Service to listen to mail and respond
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/vineeth/AquariumMonitor/MailService.py
Restart=always
RestartSec=5
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target